body {
	background-color: black;
}

#maze {
	background-color: black;
	border: 1px solid gray;
}

.cell {	
	border: 1px solid gray;
}

.cell * {
	text-align: center;
}

table {
	border-collapse: collapse;
}